body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(165, 92, 114);
    align-items: center;
    justify-content: center;
}
h1
{
    font-size: 3em;
    font-family: sans-serif;
}